@page "/counter"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage localStore

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="async ()=>
    await IncrementCountAsync()">Click me
</button>

@code {
    private int currentCount = 0;
    private async Task IncrementCountAsync()
    {
        currentCount++;
        await localStore.SetAsync("counter", currentCount);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                var result = await localStore.GetAsync<int>("counter");
                if (result.Success)
                {
                    currentCount = result.Value;
                    StateHasChanged();
                }
            }
            catch (Exception ex)
            {
                currentCount = 0;
            }
        }
    }
}
