@page "/dobbelen"
@page "/dobbelen/{aantal:int}"
<h1>Dobbelen</h1>
<h3>We spelen met @Aantal stenen</h3>
<button class="btn btn-primary m-3" @onclick="GooiStenen">Gooi de stenen</button>
<div class="mb-3">
    @if (currentScore != 0)
    {
        foreach (int score in stenen)
        {
            <img src=@($"/images/{score}.png") width="48" />
        }
    }
</div>
<p class="alert alert-info">Jouw score : @currentScore</p>
<a href="dobbelen/3">Dobbelen met 3 stenen</a>
<a href="dobbelen/4">Dobbelen met 4 stenen</a>
@code {
    
}
