@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<ErrorBoundary>
    <ChildContent>
        <Eenentwintig />
    </ChildContent>
    <ErrorContent>
        <p class="alert alert-danger">Je bent verbrand</p>
    </ErrorContent>
</ErrorBoundary>