<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorServer</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true">
                </span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill" aria-hidden="true">
                </span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="eenentwintig">
                <span class="bi bi-heart" aria-hidden="true"></span> 21
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dobbelen">
                <span class="bi bi-heart" aria-hidden="true"></span> Dobbelen
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="blog">
                <span class="bi bi-chat" aria-hidden="true"></span> Blog
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tables">
                <span class="bi bi-list" aria-hidden="true"></span> Tables
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cascade">
                <span class="bi bi-list-nested"
                      aria-hidden="true"></span> Cascading Values
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kleur">
                <span class="bi bi-brush" aria-hidden="true">
                </span> Kleur
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="parent">
                <span class="bi bi-box-arrow-up-left" aria-hidden="true">
                </span> Data binding
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="binding">
                <span class="bi bi-box-arrow-up-left" aria-hidden="true">
                </span> Binding
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="events">
                <span class="bi bi-lightning" aria-hidden="true"></span> Events
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="todo">
                <span class="bi bi-clipboard-check" aria-hidden="true"></span> Todolist
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hobbies">
                <span class="bi bi-book" aria-hidden="true"></span> Hobbies
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span class="bi bi-pencil" aria-hidden="true">
                </span> Registratieformulier
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="file">
                <span class="bi bi-files" aria-hidden="true">
                </span> File Selector
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gastenboek">
                <span class="oi oi-stickies" aria-hidden="true"></span>
                Gastenboek
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="solliciteren">
                <span class="oi oi-stickies" aria-hidden="true"></span>
                Sollicitatieformulier
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="JSInterop">
                <span class="oi oi-vector-pen" aria-hidden="true"></span> JS Interop
            </NavLink>
        </div>
    </nav>
</div>

