<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["BlazorServer.styles.css"]" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrapicons@1.11.3/font/bootstrap-icons.min.css">

    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
    <script>
        window.kwadraat = (getal) => {
        return getal*getal;
        };

        window.userInputFunctions = {
            vraagNaam: function (text) {
                return prompt(text, 'Tik hier jouw naam');
            },
            toonBoodschap: function (boodschap) {
                document.getElementById('welkomstTekst').innerText = boodschap;
            },
           zetdefocus: function () {
                document.getElementById('getal').focus();
           }
        };
        window.setElementText = (element, text) => element.innerText = text;
        window.returnPersonenlijstJs = function () {
            DotNet.invokeMethodAsync('BlazorServer', 'GetPersonen')
            .then(data => {
            const tbody = document.querySelector("tbody");
            for (let teller = 0; teller < data.length; ++teller) {
                const tr = tbody.insertRow();
                const idTd = tr.insertCell();
                idTd.innerText = data[teller].id;
                const voornaamTd = tr.insertCell();
                voornaamTd.innerText = data[teller].voornaam;
                const famnaamTd = tr.insertCell();
                famnaamTd.innerText = data[teller].familienaam;
            }
         }
        )

    };
        window.callGroeter = function (objectReference) {
            return objectReference.invokeMethodAsync('Begroet')
                .then(r => {
                    const p = document.querySelector("#boodschap");
                    p.innerText = r;
                }
                );
        };
   // };
    </script>
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
