<div class="alert alert-info">
    <div>&copy; @Auteur</div>
    <div>@ChildContent</div>
</div>

@code {
    [Parameter]
    public string? Auteur { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
